@model DineOut.ViewModels.CustomerLoginViewModel

@{
	ViewBag.Title = "Customer Login";
	Layout = "_IdentityLayout";
}


<form asp-action="CustomerLogin" asp-controller="Customer" method="post"
	  role="form">

	<div class="form-row">
		<div class="form-group col-md-6">
			<h5><label for="Email">Email</label></h5>
			<input class="form-control" type="email" asp-for="@Model.Customer.Email" id="Email" placeholder="Username" />
		</div>

		<div class="form-group col-md-6">
			<h5><label for="Password">Password</label></h5>
			<input class="form-control" type="password" asp-for="@Model.Customer.PasswordHash" id="Password" placeholder="Enter unique password" />
			<input type="hidden" asp-for="@Model.MenuId" />
			<input type="hidden" asp-for="@Model.RestaurantId" />
		</div>
		<div class="d-block justify-content-between">
			<button type="submit" class="btn btn-lg btn-success">Login</button>
			<a asp-action="ForgotPassword">Forgot Password?</a>
		</div>
	</div>

</form>
<br />

<div class="card-footer text-center">
	<a class="card-link active font-weight-bold" asp-action="CustomerRegistration">Create New Account</a>
</div>


@*<form asp-action="CustomerLogin" asp-controller="Customer" method="post"
	  class="form-row" role="form">
	<table class="table">
		<tr>
			<td><label for="Email">Email</label></td>
			<td><input type="email" asp-for="@Model.Customer.Email" id="Email" placeholder="Username" /></td>
		</tr>
		<tr>
			<td><label for="Password">Password</label></td>
			<td><input type="password" asp-for="@Model.Customer.PasswordHash" id="Password" placeholder="Enter unique password" /></td>
			<td><input type="hidden" asp-for="@Model.MenuId" /></td>
			<td><input type="hidden" asp-for="@Model.RestaurantId" /></td>
		</tr>
		<tr>
			<td><br /></td>
			<td><br /></td>
		</tr>
		<tr>
			<td><button type="submit" class="btn btn-sm btn-success">Login</button></td>
			<td><a class="btn btn-sm btn-secondary" asp-action="ForgotPassword">Forgot Password?</a></td>
		</tr>
	</table>

</form>
<br />
<div class="card-footer text-center">
	<a class="card-link active font-weight-bold" asp-action="CustomerRegistration">Create New Account</a>
</div>*@


