
@model DineOut.ViewModels.Menu_RestaurantDetails

@{
	ViewData["Title"] = "Menu";
	Layout = "_CustomerLayout";
}

<h2>@Model.Restaurant.RestaurantName's Menu</h2>


	<a class="btn btn-sm btn-secondary" asp-action="Index">Back to the List</a>
	<table class="table table-sm table-bordered" style=" background-color: rgba(255, 226, 112, 0.8);">
		<thead>
			<tr>
				<th>Image</th>
				<th>Dish</th>
				<th>Description</th>
				<th>Ingredients</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr>
					<td><Img width="100" height="100" src="@item.Image" style="border-radius:50%; border-color:black; border:1px;" /></td>
					<td><h6>@item.ItemName</h6></td>
					<td><h6>@item.Description</h6></td>
					<td><h6>@item.Ingredients</h6></td>
					<td><h6>@item.Price.ToString("c")</h6></td>
				</tr>
			}
		</tbody>
	</table>
