@model IEnumerable<Order>

@{ 
    ViewBag.Title = "Order List";
    Layout = "_RestaurantLayout";
    string[] orderStatus = {"", "Accepted", "Ongoing", "Ready", "Received", "Completed"};
}

@if (Context.Request.Query["message"].Count > 0 && Context.Request.Query["message"].ToString().Length > 0)
{
    <div class="alert alert-primary" role="alert">
        Message: @Context.Request.Query["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<table class="table table-sm table-bordered text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Table #</th>
            <th>Costumer</th>
            <th>Date</th>
            <th colspan="2">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    <a asp-action="OrderDetails" asp-route-orderId="@order.OrderId">
                        @order.OrderId
                    </a>
                </td>
                <td>@order.TableNum</td>
                <td>@order.CustomerId</td>
                <td>@order.CreatedOn</td>
                <td>
                    <form asp-action="ChangeStatus" method="post">
                        <input asp-for="@order.OrderId" hidden/>
                        <input asp-for="@order.StatusId" value="@(order.StatusId + 1)" hidden/>
                        <button class="btn btn-danger" type="submit">@orderStatus[order.StatusId]</button>
                    </form>
                </td>
                <td>
                    <form asp-action="ChangeStatus" method="post">
                        <input asp-for="@order.OrderId" hidden />
                        <input asp-for="@order.StatusId" value="5" hidden />
                        <button class="btn btn-success" type="submit">Complete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
