@model IEnumerable<Item>
@{
    ViewBag.Title = "Your Restaurant";
    Layout = "_RestaurantLayout";
}


<div class="d-flex justify-content-center" style="margin-top:20px">
    <table class="table table-sm table-striped text-center" style=" background-color: rgba(255, 226, 112, 0.8);">
        @if (Model.Count() == 0)
        {
            <thead>
                <tr>
                    <td class="text-center font-weight-bold">You have not created your first dish yet!</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">What are you waiting for?!</td>
                </tr>
            </thead>
        }
        else
        {
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Dish</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Actions</th>
                </tr>
            </thead>
        }
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td><Img width="100" height="100" src="@item.Image" /></td>
                    <td>@item.ItemName</td>
                    <td>@item.Price.ToString("c")</td>
                    <td>
                        @if (item.Availability)
                        {
                            @: Yes
                        }
                        else
                        {
                            @: No
                        }
                    </td>
                    <td>
                        <form asp-action="Delete_Item" method="post">
                            <input type="hidden" name="itemID" value="@item.ItemId" />
                            <a class="btn btn-sm btn-info" asp-action="Update_Item" asp-route-itemId="@item.ItemId" asp-route-menuId="@item.MenuId">
                                Edit
                            </a>
                            <button type="button" title="Delete Item" class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("Delete_Item", new { menu_id = item.MenuId, item_id = item.ItemId})'">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="text-center">
    <a asp-action="Update_Item" class="btn btn-success">Add New Dish</a>
</div>
