@model DineOut.ViewModels.CustomerOrderViewModel
@{
    ViewData["Title"] = "Order Summary";
    Layout = "_CustomerLayout";
 }

<h2>Order Summary</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Restaurant</th>
            <th>Date</th>
            <th>Table #</th>
            <th>Costumer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Order.OrderId</td>
            <td>@Model.Restaurant.RestaurantName</td>
            <td>@Model.Order.CreatedOn</td>
            <td>@Model.Order.TableNum</td>
            <td>@Model.Order.CustomerId</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped orderDetailsTable ">
    <thead>
        <tr>
            <th>Item:</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.Item.ItemName</td>
                <td>@item.Item.Price.ToString("c")</td>
                <td>@item.Quantity</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="itemId" value="@item.ItemId" />
                        <input type="hidden" name="orderItemId" value="@item.OrderItemId" />
                        <button type="submit" title="Delete Item" class="btn btn-sm btn-danger"
                                onclick="location.href='@Url.Action("DeleteItem",
                                                       new { menuId = item.OrderItemId, itemId = item.ItemId})'">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="">
                Total:
                @*@Model.CustomerOrder.ComputeTotalValue().ToString("c")*@
                @Model.OrderItems.Sum(e => e.Item.Price * e.Quantity).ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="">
    <form asp-action="OrderDetails" method="post">
        <input type="hidden" asp-for="@Model.Order.OrderId" />
        <div>
            <label class="font-weight-bold">Special Note: </label>
            <input asp-for="@Model.Order.Note" />
        </div>
        <div class="marginTop">
            <button class="btn btn-success" type="submit">Continue shopping</button>
        </div>
    </form>
    <div class="font-weight-bold">
        <a class="btn btn-primary" asp-action="Checkout">Checkout</a>
    </div>
    <div class="font-weight-bold">
        <a class="btn btn-danger" asp-controller="Home"
           asp-action="Index">Cancel Order</a>
    </div>
</div>