@model DineOut.ViewModels.CustomerOrderViewModel
@{
    ViewData["Title"] = "Create Order";
    Layout = "_CustomerLayout";
}

@*@if (TempData["message"] != null)
{
    <div class="alert alert-success mt-1">@TempData["message"]</div>
}*@

<div class="text-center text-lg-center">
    <h2>@Model.Restaurant.RestaurantName Restaurant</h2>
</div>


<div class="container">
	<a class="btn btn-sm btn-secondary" asp-controller="Customer"
	   asp-action="Index">Back to the List</a>
    <div class="d-flex justify-content-center">
        <table class="table table-sm table-striped" style=" background-color: rgba(255, 226, 112, 0.8);">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Dish</th>
                    <th>Description</th>
                    <th>Ingredients</th>
                    <th>Price</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <Img width="100" height="100" src="@item.Image"
                                 style="border-radius:50%; border-color:black; border:1px;" />
                        </td>
                        <td><h6>@item.ItemName</h6></td>
                        <td><h6>@item.Description</h6></td>
                        <td><h6>@item.Ingredients</h6></td>
                        <td><h6>@item.Price.ToString("c")</h6></td>
                        <td>
                            <form asp-action="AddItem" method="post">
                                <div class="form-group" style="width:75px">
                                    <label class="font-weight-bold"
                                           asp-for="@Model.OrderItem.Quantity"></label>
                                    <select class="form-control"
                                            name="quantity" asp-for="@Model.OrderItem.Quantity">
                                        @if (Model.OrderItem != null)
                                        {
                                            <option value="@Model.OrderItem.Quantity">
                                                @Model.OrderItem.Quantity
                                            </option>
                                        }
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="marginTop">
                                    <input type="hidden" name="item.ItemId" value="@item.ItemId" />
                                    <input type="hidden" asp-for="@item.MenuId" />
                                    <input type="hidden" name="orderId" asp-for="@Model.Order.OrderId" />
                                    <input type="hidden" name="customerId" asp-for="@Model.Order.CustomerId" />
                                    <input type="hidden" name="tableNum" asp-for="@Model.Order.TableNum">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center" style="margin-top:10px">
        <form asp-action="OrderSummary" method="post">
            <div class="form-group">
                <label class="font-weight-bold">Table #</label>
                <input name="tableNum" asp-for="@Model.Order.TableNum">
            </div>
            <div class="form-inline justify-content-around">
                <input type="hidden" name="orderId" asp-for="@Model.Order.OrderId" />
                <div>
                    <button class="btn btn-success" type="submit">Order Summary</button>
                </div>
                <div>
                    <a class="btn btn-danger" asp-controller="Customer"
                       asp-action="Index">Cancel Order</a>
                </div>
            </div>
        </form>
    </div>
</div>

